body, p, h1{
    margin: 0;
}

.side-padding{
    padding-left: 8%;
    padding-right: 8%;
}

.bg-img-cover{
    background-size: cover;
}

.bg-img-content{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-gray{
    background-color: rgba(217, 224, 236, 0.2);
}
.w-250{
    width: 250px;
}

.ai-c{
    align-items: center;
}

.ml-50{
    margin-left: 50px;
}

.mt-250{
    margin-top: 250px;
}

.mt-120{
    margin-top: 120px;
}

.mt-40{
    margin-top: 40px;
}

.mt-130{
    margin-top: 130px;
}

.mt-20{
    margin-top: 20px;
}

.flex{
    display: flex;
}

.jc-sb{
    justify-content: space-between;
}

header{
    height: 110px;
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'DM Sans', sans-serif;
}

header > * {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 15%;
    border-right: 1px solid #EFEFEF;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 25%;
    font-weight: 500;
}

.actions{
    display: flex;
    justify-content: space-around;
    width: 55%;
}

.action_button{
    height: 50px;
    border-radius: 60px;
    box-sizing: border-box;
    padding: 18px 40px;
    background-color: white;
    font-weight: 900;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple-bg{
    background-color: #3D00B7;
    color: #fff;
}

.purple-b{
    border: 2px solid #3D00B7;
}

.purple-t{
    color: #3D00B7;
}

.action_input{
    height: 50px;
    border-radius: 60px;
    border: 2px solid #EFEFEF;
    box-sizing: border-box;
    width: 300px;
    padding: 0 20px;
}

input::placeholder{
    font-weight: 700;
    color: #b1b1b1;
}

.top{
    display: flex;
    margin-top: 50px;
}

.top_left{
    width: 50%;
}

.title{
    font-size: 48px;
    font-family: 'Russo One', sans-serif;
    font-weight: 900;
}

.title_small{
    font-size: 20px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
}

.title_text{
    font-size: 12px;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}
.title_small1::before{
    content: url(/img/Vector.png);    
}

.subtitle{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #565656;
    line-height: 32px;
}

.subtitle_small{
    font-size: 14px;
    color: #565656;
    line-height: 22px;
}

.statistics{
    width: 70%;
}

.features_block{
    height: 320px;
}

#features_item_1, #features_item_2{
    position: relative;
}

#features_item_1:first-child::before{
    content: url("./../img/1.jpg");
    position: absolute;
    top: -5px;
    left: -50px;

}

#features_item_2:first-child::before{
    content: url("./../img/2.jpg");
    position: absolute;
    top: -5px;
    left: -50px;
}
.center{
    width: 1200px;
    height: 540px;
}
.top_collections{
    height: 540px;
    width: 100%;
}
.top_collection_img_big{
    height: 420px;
    width: 400px;
}

.top_collection_img_small{
    height: 150px;
    width: 150px;
}
.top_collection_avatar_big{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}
.fd-c{
    flex-direction: column;
}
.jc-c{
    justify-content: center;
}
.top_collection_avatar_small{
    height: 34px;
    width: 34px;
    border-radius: 100px;
}
.green-t{
    color: #00AC4F;
    font-size: 12px;
    font-weight: 700;
}
.green-b{
    width: 81px;
    height: 32px;
    border: 1px solid #00AC4F;
    border-radius: 6px;
}